:host {
	width: 100%;
  height: 100%;
}

.change-admin-button {
  margin-right: 5px;
}

.poker-planning-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.entire-app-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.example-list-wrapping {
  max-width: 100%;
}

div {
  &.mat-caption {
    padding-bottom: 16px;
  }
}

.action-buttons {
  padding-top: 16px;
}

mat-sidenav {
  width: 30%;
  min-width: 300px;
  padding: 64px 16px;
}

.sidenav-container {
  width: 100%;
  height: 100%;
}
