<div class="d-flex">
	<users-list *ngIf="lastMeaningfulUpdate"
	            [userList]="lastMeaningfulUpdate.estimates"
	            [isModerator]="isModerator()"
	            [userId]="lastMeaningfulUpdate.userId"
	            [isVotingOngoing]="lastMeaningfulUpdate.votingOngoing"
	            class="w-25 pr-5">
	</users-list>

	<cards-list class="w-75" *ngIf="isVoteOngoing" (onCardSelect)="flipVotedStateForCurrentUser()">
	</cards-list>

	<vote-results [hidden]="!lastMeaningfulUpdate || isVoteOngoing"
	              [estimates]="lastMeaningfulUpdate ? lastMeaningfulUpdate.estimates : []"
	              class="w-50">
	</vote-results>
</div>

<div class="d-flex justify-content-center" *ngIf="isModerator()">
	<button type="button" class="btn btn-success m-2"
	        (click)="startVoting()" *ngIf="!isVoteOngoing">
		Start Voting
	</button>
	<button type="button" class="btn btn-success m-2"
	        (click)="finishVoting()" *ngIf="isVoteOngoing">
		Finish Voting
	</button>
</div>
