:host {
	width: 100%;
}

.change-admin-button {
  margin-right: 5px;
}

.poker-planning-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.entire-app-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.action-buttons {
  padding-top: 16px;
}
