.themes-radio-group {
  display: flex;
  flex-direction: column;
  margin: 0 15px 0 5px;
  align-items: flex-start;
}

.theme-icon {
  margin-left: 10px;
  height: 48px;
}

.radio-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
}
