<h1 class="text-center">NavVis Poker Planning</h1>

<div class="d-flex flex-column bd-highlight mt-5 mb-3 align-items-center">
	<form class="name-form">
		<mat-form-field>
			<mat-label>Insert your name</mat-label>
			<textarea matInput placeholder="Ex. Tamino"></textarea>
		</mat-form-field>
	</form>

	<button mat-raised-button color="primary" class="p-2 main-button mb-3"
	        (click)="startPlanning()">
		I want to start a planning
	</button>

	<button mat-raised-button class="p-2 main-button"
			(click)="joinPlanning()">
		I want to join a planning
	</button>
</div>

<router-outlet></router-outlet>
