<div class="flex-container" [class.voted]="userToDisplay.voted" [class.not-voted]="!userToDisplay.voted">
	<div class="first-row">
    <!-- Moderator Star -->
    <div *ngIf="moderatorId === userToDisplay.userId" class="icon colored-star"></div>
    <!-- Username-->
    <div class="info">{{userToDisplay.username}}</div>
  </div>

	<div *ngIf="!isVotingOngoing" class="info vote">
    <span *ngIf="userToDisplay.voted">{{userToDisplay.estimate}}</span>
    <span *ngIf="!userToDisplay.voted" class="no-vote-text">no vote</span>
	</div>
</div>

