@use 'sass:map';
@use '@angular/material' as mat;

$color-config: mat.get-color-config(mat.$pink-palette);

:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

.users-list-card {
  min-width: 270px;
  max-width: 600px;
  width: 100%;
  margin-bottom: 35px;
  overflow: hidden;
}

.user-list-title {
  text-align: center;
}

.vote-container {
  margin-left: 8px;
  padding: 0 6px;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  min-width: 20px;
  display: flex;
  justify-content: center;

  &.voted {
    background-color: #99d18f;
  }
}

.chip-username {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.span-container-text {
  display: flex;
}

.mat-chip.mat-standard-chip::after {
  background: none !important;
}

.example-header-image {
  background-image: url('../../assets/admin.png');
  background-size: cover;
}

.mat-card-header .mat-card-title {
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 500px;
}

.color-green {
  background-color: #61bd4f;
}
