<mat-card class="users-list-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ getModeratorUsername() }}</mat-card-title>
    <mat-card-subtitle>Administrator</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-chip-listbox>
      <mat-chip-option *ngFor="let user of userList" color="accent" [selected]="user.voted">
        <span class="span-container-text">
          <span class="chip-username">{{user.username}}</span>
          <span *ngIf="!isVotingOngoing" class="vote-container">
            {{getVote(user)}}
          </span>
        </span>
      </mat-chip-option>
    </mat-chip-listbox>
  </mat-card-content>
</mat-card>
