@use '@angular/material' as mat;
@include mat.core();

// Define a dark theme
$theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$pink-palette, 700, 500, 900),
    accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400)
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

// Include all theme styles for the components.
.dark-pink-blue-grey {
  @include mat.all-component-colors($theme);
}

