:host {
  width: 100%;
}

.mid-font-size {
	font-size: 1.5em;
}

.large-font-bold {
  font-size: 3em;
  font-weight: bold;
}

.statistics {
  display: flex;
  justify-content: space-evenly;
}

.agreement-chart {
  width: 100px;
  padding-top: 10px;
}

.flex-column-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 120px;
}

.kudos::before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		bottom:0;
		right:0;
		background-image: url("/assets/kudos.gif");
		background-size:100% 100%;
		opacity: .7;
		z-index: -200;
}

.shame::before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		bottom:0;
		right:0;
		background-image: url("/assets/shame.gif");
		background-size:100% 100%;
		opacity: .95;
		z-index: -200;
}
