apiVersion: v1
kind: Service
metadata:
  name: {{ include "pokerplanning.fullname" . }}
  labels:
    {{- include "pokerplanning.labels" . | nindent 4 }}
spec:
  type: Loadbalancer
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "pokerplanning.selectorLabels" . | nindent 4 }}
