:host {
  width: 100%;
}

.welcome-container {
  padding: 25px 10px;
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 0 auto;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.main-button {
  align-self: end;
}
