.poker-card {
  width: 125px;
  height: 153px;
  margin-right: 12px;
  margin-bottom: 12px;
  border: none;
  background: linear-gradient(135deg,#dbdbdb,#d8d8d8);
  cursor: pointer;
  color: #1e2a36;
  box-shadow: 2px 4px 8px -1px hsla(0,0%,51%,.7);
  transition-duration: .1s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.poker-card:hover {
  box-shadow: 4px 6px 12px -1px #828282;
  transform: scale(1.05);
  transition-duration: .3s;
}

.poker-card.selected {
  background: #1e2a36 linear-gradient(135deg, #0a325a, #251f3c);
  color: #fff;
  box-shadow: 4px 6px 12px -1px #828282;
  transform: scale(1.05);
}
